<%= form_for(@sharer) do |f| %>
  <% if @sharer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sharer.errors.count, "error") %> prohibited this sharer from being saved:</h2>

      <ul>
      <% @sharer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
