<% sharer = Sharer.new %>
<%= form_for(sharer) do |f| %>
  <% if sharer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sharer.errors.count, "error") %> prohibited this sharer from being saved:</h2>

      <ul>
      <% sharer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: "Name" %>
  </div>

  <div class="field">
    <%= f.text_field :email, placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.text_field :city, placeholder: "City" %>
  </div>

  <div class="actions">
    <%= f.submit 'Sign up!'%>
  </div>
<% end %>
