<p id="notice"><%= notice %></p>

<h1>Sharers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
      <th>Nr up signups for city</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sharers.each do |sharer| %>
      <tr>
        <td><%= sharer.name %></td>
        <td><%= sharer.email %></td>
        <td><%= sharer.city %></td>
        <td><%= Sharer.where(city: sharer.city).count %></td>
        <td><%= link_to 'Show', sharer %></td>
        <td><%= link_to 'Edit', edit_sharer_path(sharer) %></td>
        <td><%= link_to 'Destroy', sharer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sharer', new_sharer_path %>
